[2016-03-29 17:22] zzarcon opened #1 "Route handling proposal"
**Route handling definition:**

[code]

[2016-03-29 17:45] zzarcon opened #2 "Factory proposal"
**We need to provide an easy way to define Factories**
`factories/user.swift`

[code]

`factories/comment.swift`

[code]

**Scenarios**
Again, not sure if is worth it to implement scenarios now, but I think it can be useful...

[code]

Other solution... just use `create` method and don't support scenarios:

[code]

Once we have defined and seeded the DB Kakapo should just use the Factories and cre

[2016-03-29 18:01] MP0w commented on #2
[code]

[2016-03-29 18:22] zzarcon commented on #1
[code]

[2016-03-29 18:35] MP0w commented on #1
[code]

[2016-03-29 18:38] groyoh commented on #1
[code]

:trollface:

[2016-03-30 18:01] zzarcon opened #3 "HTTP Status code support"
I know that this doesn't compile, but you get the idea...

[code]

[2016-03-31 18:49] zzarcon opened #6 "Suport query params in route handling"
This should work `/user/1?page=1`

[code]

[2016-03-31 20:02] MP0w opened #7 "In memory database fetching"
We want the in-memory database to be flexible, no need to support too complex stuff (otherwise we should actually use a real database) but at least searching for properties of the entity (relationship also?)
We can check some implementation like Realm, or DSL for `NSPredicate` or `CoreData`.

Would be cool to do something like:
`db.find(User.name, equalTo: "name")`
but is not possible to do it wit

[2016-04-02 18:04] zzarcon opened #9 "Access request body from route handler"
I think we should we able to provide access to the request body in the request handler:

[code]

[2016-04-04 19:14] MP0w opened #10 "Fix TravisCI"
Would be cool to be able to rely on the CI! Is not just a badge @zzarcon :grin:

[2016-04-04 19:15] joanromano commented on #10
Seems legit

[2016-04-04 19:18] MP0w opened #11 "Remove DS_Store from every branch and add it to gitignore"
It hurts me

[2016-04-04 19:38] MP0w opened #12 "Init entities and relationships"
Every entity that conform to the protocol (ATM called `KakapoSerializable`) will have to implement `init(id: String)`. To create entities there might be 2 ways:

[code]

Friends is a relationship od User:

[code]

User will init is relationship as:

[code]

[2016-04-04 19:43] #11 closed, assigned to MP0w

[2016-04-04 19:44] MP0w commented on #11
done 9b49d2df4dd0dbae

[2016-04-04 19:52] joanromano commented on #12
I think we should aim for usability here. If I want to use this one:

[code]

Means that I also need to specify a second init method in user, right? Is that what we want? It also means that I already have to create friend objects (that seems ok). Would we also need to pick different random friends for each user or we don't care about repeating (this is not that important for now, probably)

Also,

[2016-04-04 20:23] MP0w commented on #6
This is done, only question is if we should use NSURL or we should check for edge cases and unit test them

[2016-04-04 20:24] #1 closed, assigned to nobody

[2016-04-04 20:25] #6 closed, assigned to zzarcon

[2016-04-04 20:25] joanromano commented on #2
After the first implementation, we should follow this discussion on #12

[2016-04-04 20:25] #2 closed, assigned to nobody

[2016-04-04 20:26] #7 closed, assigned to nobody

[2016-04-04 20:29] MP0w commented on #9
I don't get it

[2016-04-04 20:36] MP0w opened #14 "Entities Serialization"
If something should change or is not clear about it let's discuss it here

Serialization is done by Mirroring the object (reflection) and support for complex serialization like JSONAPI is done using `CustomMirrorType`

[2016-04-04 20:46] MP0w commented on #12
@joanromano that closure was just an example and should not be required to use it if init(id:) is enough, so we are not forcing to have that init.
I think I Agree with @zzarcon about merging / wrapping the database in the server

[2016-04-04 20:50] joanromano commented on #12
But if they need relationships we then force to have two inits

[2016-04-04 20:52] MP0w commented on #12
No we don't in User.init(id:) they just have to call Friend.init(id:)

[2016-04-04 20:55] joanromano commented on #12
So what is `User(name: Faker.name, friends: db.findRandom(Friends))` then?

[2016-04-04 20:57] MP0w commented on #12
Another example using the closure if fake data is not enough (e.g creating a user from ui should have a nane entered by the user)

[2016-04-04 21:24] MP0w commented on #3
The status code could be returned (optionally, 2 different methods one with and one with default code) in the closure as a tuple

[2016-04-05 18:11] MP0w opened #16 "Reverse and recursive Relantionships"
_Won't have to be implemented now_
We may need it to avoid boilerplate and duplicated structs.
For the serialization might be easy:

[code]

During serialization we have to make sure that friends for User's inside friends is not serialized.
For creation might get more tricky because we can't provide the relationships at initialization time.

Current downsides:
To support `/user/:id`
You need to cr

[2016-04-05 18:15] MP0w commented on #12
Reverse and recursive relationships are not part of this discussion see #16

[2016-04-06 18:46] joanromano commented on #14
I would add more documentation and examples on how to create custom `PropertyPolicy`

[2016-04-06 20:30] MP0w commented on #14
Will definitely add doc later, also there is one issue: `serialize`accept Serializable objects so also Arrays and Dictionaries (they privately conform) directly but this isn't suppose to work since their Mirror is quite custom... wondering if I should split the protocols to avoid this.

[2016-04-06 20:43] MP0w commented on #14
# TODO:
- [x] Documentation
- [x] Solve recursion entry point that allows Serializable types to be passed even if their mirroring isn't suitable for the serialization
- [x] Entry point for JSONRepresentable

[2016-04-06 20:44] MP0w commented on #9
@zzarcon ping

[2016-04-07 07:21] zzarcon commented on #9
@MP0w sorry for the delay, basically I think we should provide a way to access to the request body in the `request hadnler` - http://www.w3schools.com/tags/ref_httpmethods.asp

Usually when you define a **post** handler, you want to create something in your db. In order to know what to create you have to inspect the request body. Abstract example:

[code]

[2016-04-07 07:34] zzarcon commented on #9
testing gh integration

[2016-04-07 07:37] joanromano commented on #9
@zzarcon @MP0w I thought we said the client _doesn't_ have access to db externally, but we rather build a facade from the server around it

[2016-04-07 07:44] zzarcon commented on #9
Yeah, sorry, we can just return the server there

[2016-04-07 07:46] joanromano commented on #9
But that would be pointless, the client has already an instance to it

[2016-04-07 18:07] MP0w commented on #9
Ah got it now, yes NSURLRequest must be passed

[2016-04-08 22:30] #10 closed, assigned to MP0w

[2016-04-09 00:25] MP0w opened #17 "Optimize db insertions"
DB insertion can get exponentially slow (~90s for 20k entries) because the array that olds the objects is a `Swift.Array` and has to be copied every time we append new objects.
A cool trick for Swift value types is that they are always copied unless uniquely referenced.
That array is hold by a dictionary and to be mutated must be extracted from it and then re-assigned (2 references) making it not

[2016-04-09 00:27] joanromano commented on #17
:hope:

[2016-04-09 00:41] MP0w opened #18 "KakapoDB.swift extremely slow compile time"
Let's try to understand what's happening. Betting on lib sema 🤑

[2016-04-09 08:39] MP0w commented on #17
https://travis-ci.org/devlucky/Kakapo/jobs/121879811 5.8seconds

[2016-04-09 15:35] #17 closed, assigned to MP0w

[2016-04-09 22:37] MP0w opened #21 "Allow the user to retrieve the HTTPHeaders of a request"
[code]

or (preferred by me)

[code]

In my opinion NSURLRequest makes it more flexible and not more complex.

[2016-04-09 23:28] #9 closed, assigned to joanromano

[2016-04-14 16:39] MP0w opened #23 "Support multiple KakapoServer"
As for now we need to use class methods

[2016-04-14 16:39] MP0w opened #24 "Support host for request stub"
- [ ] Implement #23

needs multiple kakapo server support #23

[2016-04-14 18:34] MP0w commented on #12
[code]

[2016-04-14 18:36] MP0w commented on #12
or:

[code]

[2016-04-14 19:11] #14 closed, assigned to MP0w

[2016-04-14 21:23] MP0w commented on #3
As we discussed this just needs:

[code]

And then special handling in `KakapoServer`

[2016-04-14 21:38] MP0w opened #26 "Support id as string"
should we?

[2016-04-14 21:39] MP0w opened #27 "Support JSON API serialization PART 1"
**Data**
- [x] Include `type` and `id`
- [x] Incluse attributes
- [x] Include relationships data without its attributes
- [x] Include array of relationships

[2016-04-14 21:39] MP0w commented on #23
This might also include Scenarios

[2016-04-14 21:50] MP0w opened #28 "Create sample app"
Create sample app that uses Kakapo as a Server

[2016-04-15 17:24] MP0w opened #30 "Implement code coverage report"
Looks like the tool Kakapo.js uses is also available for us https://github.com/codecov/example-objc

[2016-04-16 16:29] MP0w opened #31 "Support Deletion and Overwrite in database"
Delete and update entities is not supported.
As discussed we won't support:

[code]

This would require every entity to hold a database so extra setup for the user.
The idea is to provide:

[code]

`KakapoDB` will have to find the entity, make sure that is equal (not only the id) to prevent removing another entity and/or using the wrong database.

If an entity changes and is not saved into db dele

[2016-04-16 17:48] #12 closed, assigned to MP0w

[2016-04-16 18:33] #3 closed, assigned to joanromano

[2016-04-17 10:55] MP0w opened #33 "CI improvements"
Improve our CI:
- [x] Explore fatslane possibilities
- [x] Build Matrix
- [x] Multiple platforms #44

[2016-04-17 11:31] MP0w commented on #24
Can we discuss this here?

[2016-04-17 11:35] MP0w commented on #31
@joanromano please take a look

[2016-04-17 13:40] joanromano commented on #31
@MP0w what else do we have appart from the id to compare? Should we make `Serializable` conform to `Comparable`?

[2016-04-17 13:43] MP0w commented on #31
@joanromano you mean `Equatable`? Probably... we might have a default implementation of `Equatable` for `Serializable` objects so in most cases you don't need to implement it: Serializable is Equatable when the serialized objects are equal

[2016-04-17 13:43] #30 closed, assigned to MP0w

[2016-04-17 13:46] joanromano commented on #31
So our default implementation of `Equatable` for `Serializable` would only compare ids?

[2016-04-17 13:51] joanromano commented on #24
@MP0w would make sense to introduce Routers here? Server will handle a static array of Routers instead of a `private static var routes: [String : Route]`, and forward the static protocol methods to each of those.

The users asks the Server to register a new Router with a given host, and gets it. Then we move all the `get, post, del, put, patch...` methods to be instance methods of the Routers.

Gu

[2016-04-17 13:53] MP0w commented on #24
@joanromano yes for #23 we probably need something like that...
"Server will handle a static array of Routers" careful not to leak Routers

[2016-04-17 13:56] MP0w opened #34 "Unregister routes"
Say you register:

[code]

We may want to support unregistering routes, this might be automatically done when Server/Routers are deallocated but this can only happen when #23 is done.

@zzarcon alignment needed ?
- [x] Implement #23
- [x] Test unregister routes
- [x] Test replacing routes
- [x] Test dealloc unregister all routes

[2016-04-17 13:57] joanromano commented on #24
"careful not to leak Routers" I'll do my best 👯

[2016-04-17 13:59] MP0w commented on #31
Nope, that's not enough to make sure they are the same objects (since you can have multiple dbs the same id can belong to different dbs ).
The default implementation would be to compare the serialized value (the JSON) (probably as NSData?)...

[2016-04-17 14:11] joanromano commented on #31
Cool, didn't know we were handling multiple DBs here already. Should we also take into account that two objects from different DBs may have the same id and serialized value?

[2016-04-17 15:09] MP0w commented on #31
well then we need to have a db property in the entity... we already support multiple db

[2016-04-17 15:11] MP0w commented on #24
related to https://github.com/devlucky/Kakapo.js/issues/43

[2016-04-17 15:18] MP0w opened #35 "Request info refactor"
[code]

I don't find it easy to use `info.params` and `info.queryParams`.

what about:

[code]

for `/user/:id` then we would have:
components = ["id": "value"]
parameters are the url parameters

@devlucky/js-core ?

[2016-04-17 15:19] MP0w commented on #35
related to #21

[2016-04-17 15:21] MP0w commented on #26
@devlucky/kakapo-core

[2016-04-17 15:22] zzarcon commented on #34
How do you actually deallocate a router?

[2016-04-17 15:26] MP0w commented on #34
when it's not used anymore (not strongly referenced anymore):

Let's say you have a ViewController that creates a `Router`, when the VC is gone the Router is deallocated

[2016-04-17 15:28] zzarcon commented on #35
I'll prefer instead something like this when declaring a handler like `router.get('/users/:id')` and performing a request like `users/12?page=1&limit=10` with empty headers and body

[code]

Also, I don't like the `HTTP` prefix for any of the properties

[2016-04-17 15:30] zzarcon commented on #26
Yes, that's why I suggested https://github.com/devlucky/Kakapo.js/issues/24.

And basically allow the user to specify the type of id (we can go with autoincrement as default behaviour)

[2016-04-17 15:31] MP0w opened #36 "Update/Write Documentation"
- [x] Update documentation
- [x] Add missing documentation #43

[2016-04-17 15:36] MP0w commented on #34
Alex Manzella [5:34 PM]
If you have a router only used in some part of the app or for some unit test, ATM The routes are cleared only when you do `KakapoServer.disable` but is not clear that it deletes all the routes (BTW: @joro we need tests for this) and you should/might be able to unregister a single route

[2016-04-17 15:50] MP0w commented on #35
HTTP prefix is to align with the Foundation counterpart.
Your code is the same except the naming right?
Not sure if params is right because usually what you now called query is called params (that's why I was confused)

[2016-04-17 15:51] MP0w commented on #35
Since /id/ is an URL component (`NSURL` call it that way) I was suggesting components, @joanromano ?

[2016-04-17 15:55] zzarcon commented on #35
Yes, my suggestion is all about naming, what i call query is usually called query or queryParams. I don't like `components` neither btw.

[2016-04-17 16:46] rpunkfu commented on #35
I agree with @zzarcon in terms of naming, since Node.js names it in exactly this way

[2016-04-17 17:15] joanromano commented on #35
Since we want to align with Foundation as close as possible, may I suggest using `queryParameters` and `components`? @MP0w

[2016-04-17 17:47] joanromano commented on #31
@MP0w wondering if we should call it `save` or `update`

[2016-04-17 17:53] joanromano commented on #31
@MP0w also, I guess `save`/`complete` should only compare ids?

[2016-04-17 17:56] MP0w commented on #31
Yes exactly, I would go for update

[2016-04-19 10:12] MP0w commented on #35
Fine for me

[2016-04-20 21:10] MP0w opened #38 "Use the type passed in DB functions instead of the generic inferred type"
... to prevent the same bug we had for cell registration. Not sure if it can happen here... maybe if you assign to a variable with a downcast

[2016-04-21 18:56] #31 closed, assigned to joanromano

[2016-04-21 20:44] MP0w opened #40 "CI: CodeCov might be optimized"
output:

[code]

[2016-04-21 21:33] #35 closed, assigned to MP0w

[2016-04-24 11:02] MP0w opened #42 "Configure Rultor"
for the lulz

[2016-04-24 11:02] MP0w commented on #42
@rultor hello

[2016-04-24 11:03] rultor commented on #42
@mp0w Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-04-24 11:05] MP0w commented on #42
@rultor merge

[2016-04-24 11:06] rultor commented on #42
@mp0w It is an issue, not a pull request

[2016-04-24 11:06] rultor commented on #42
@mp0w I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-04-24 11:31] MP0w commented on #42
Apparently not what we wanted 😢 Probably won't work with cocoa pods and can't wait for travis before merging

[2016-04-24 11:31] #42 closed, assigned to MP0w

[2016-04-24 12:31] MP0w opened #43 "Document KakapoServer and KakapoDB"
#23
#24

[2016-04-24 12:33] MP0w opened #44 "Support iOS 8, OS X and eventually tvOS and watchOS"
- [x] Support iOS 8
- [x] Support OSX (El captain only?)
- [x] Support tvOS if easily possible
- [x] Support watchOS if easily possible
- [x] Update build matrix #33

[2016-04-24 12:42] MP0w commented on #26
I would say that `Int` will be the default and `Storable` will use the current implementation (Int). Then We can create a simple protocol `CustomStorable` or `StringStorable` or whatever
that has a default implementation that convert the `Int` to `String` and add a computed property:

[code]

[2016-04-24 12:44] MP0w commented on #26
Unfortunately we might need special handling in the `Serializer` to avoid using the `Int` in the JSON so maybe it should be the other way around

[2016-04-24 16:29] MP0w commented on #26
@devlucky/swift-core let's discuss before deciding if it should be in the Milestone... looks like we are not sure if we want this (cc/ @zzarcon )

[2016-04-25 17:24] #21 closed, assigned to MP0w

[2016-04-25 17:56] MP0w commented on #33
Done with #47

[2016-04-25 17:56] #33 closed, assigned to MP0w

[2016-04-26 16:52] MP0w opened #48 "Support serialization key transformer"
In swift code we usually use camelCase while for JSON other convention (mostly snake_case) are used, I would don't like forcing the user to name the property we might have easy ways to support this:
## Detailed design

[code]

This can be done by using `CustomSerializable`.
It would be good if the transformed can also be used to rename properties of an entity:

[code]

[2016-04-28 10:03] MP0w opened #50 "Make default for Optional properties to send nothing instead of NSNull"
Since this is probably the expected behavior for JSON API and the standard

[2016-04-29 20:01] MP0w opened #51 "Return Optional in serialize()"
By returning Optional we will avoid special handling for `PropertyPolicy` and `Optional` (required once #50 is implemented) and we will avoid duplicating the handling for #27

[2016-04-29 21:51] #50 closed, assigned to MP0w

[2016-04-29 21:51] #51 closed, assigned to MP0w

[2016-04-30 14:19] MP0w commented on #38
@joanromano what do think?

[2016-04-30 14:21] MP0w commented on #18
Looks like is not that slow however we might use https://github.com/irskep/swift_compile_times_parser to monitor compile time regressions

[2016-04-30 14:47] MP0w opened #55 "Support JSON API part 2"
**Syntax**
- [x] `links`
- [x] `links` of relationships
- [x] Support `included`
- [x] Errors
- [x] meta

Not in the scope: #57 Server responsibilities and behaviors #67

[2016-04-30 14:50] MP0w opened #56 "Response should be extracted into a protocol to allow other objects to provide states code or headers without being wrapped"
ATM `Response` is an object that can wrap other Serializable objects to customize the status code and headers.
JSONAPI for example (See #57) might need this behavior and automatically decide the status code and headers so a protocol would be needed to support this behavior and not require special handling in the server side.

[2016-04-30 14:52] MP0w opened #57 "JSON API Server Responsibilities"
**Server responsibilities** (needs #56)
- [ ] Servers MUST send all JSON API data in response documents with the header Content-Type: application/vnd.api+json without any media type parameters
- [ ] Servers MUST respond with a 415 Unsupported Media Type status code if a request specifies the header Content-Type: application/vnd.api+json with any media type parameters.
- [ ] Servers MUST respond wi

[2016-04-30 15:00] MP0w opened #58 "Investigate JSON Schema validation"
Investigate if we can use a [JSON schema](json schema) validator (e.g. https://github.com/kylef/JSONSchema.swift) for unit tests

[2016-04-30 18:10] #23 closed, assigned to joanromano

[2016-04-30 18:10] #24 closed, assigned to joanromano

[2016-04-30 18:10] #34 closed, assigned to joanromano

[2016-04-30 18:10] #43 closed, assigned to joanromano

[2016-05-01 13:57] #36 closed, assigned to joanromano

[2016-05-01 13:59] MP0w opened #59 "README and Documentation"
- [x] Code Documentation
- [ ] Kakapo description
- [ ] Update README
- [ ] README.playground (?)
- [ ] podspec description
- [x] Discuss for devlucky.github.io

[2016-05-01 15:50] #40 closed, assigned to MP0w

[2016-05-01 15:50] MP0w commented on #40
Closed with aa913641c213442496f

[2016-05-01 17:44] #27 closed, assigned to MP0w

[2016-06-12 13:29] #18 closed, assigned to nobody

[2016-06-12 14:06] MP0w commented on #38
no need to do it for this case since the user won't pass an instance but a class directly

[2016-06-12 14:06] #38 closed, assigned to nobody

[2016-06-16 20:10] MP0w opened #64 "Fix test that perform real HTTP requests"
Some test are sometimes failing (https://travis-ci.org/devlucky/Kakapo/jobs/134586851). Those test are about checking that Router doesn't match routes that shouldn't be matched but this cause the request to be really performed and therefore be subject to internet connection slowness and randomness. We should change the implementation to not really perform a request (e.g. A second NSURLProtocol tha

[2016-06-25 20:26] #56 closed, assigned to MP0w

[2016-06-25 20:26] MP0w commented on #56
Implemented in #61

[2016-06-25 20:27] MP0w commented on #44
Closed by #63

[2016-06-25 20:27] #44 closed, assigned to nobody

[2016-06-25 20:29] MP0w opened #67 "Support JSON API part 3"
**Behaviors**
- [ ] Support include
- [ ] Support sparse fields
- [ ] Support sort

[2016-06-26 15:16] #64 closed, assigned to joanromano

[2016-06-26 15:27] #55 closed, assigned to nobody

[2016-06-30 19:29] #48 closed, assigned to MP0w

[2016-07-01 08:25] joanromano opened #76 "Use Set on Server instead of Array to retain Routers"
Until now, when registering twice a Router with the same baseURL:

[code]

Will result on the second handler not called at all, since the server will have two registered Routers, even if they have the same baseURL, and pick the first one from the array when `startLoading` on `NSURLProtocol` protocol mechanism gets triggered.

Making routers Equatable and using Set on server should fix this and hav

[2016-07-01 08:27] joanromano commented on #76
Note that this issue is easily fixed from client side by unregistering the first Router, but I guess we want to provide all possible combinations.

[2016-07-02 16:19] #26 closed, assigned to MP0w

[2016-07-02 16:31] MP0w opened #79 "Investigate Occasionally failing test"
https://travis-ci.org/devlucky/Kakapo/jobs/141653869

Might not be a timeout (Actually I'm sure it's not a timeout otherwise would be only that test) but another route handler called, either not unregistering one  or a race condition

[2016-07-03 10:23] MP0w commented on #79
might be fixed by f4ebeac54e67

[2016-07-06 18:35] MP0w opened #81 "Refactor URL matching and improve Router APIs"
Using the APIs I noticed that:
- I was confused about what baseURL I should pass (still think it should be any part of the url, not only the base e.g. `http://subdomain.domain.com/api/v3/whatever` while now you are constrained to `subdomain.domain.com`. we might skip the http(s) maybe)
- Documentation can be improved for the baseURL (how to init the Router and what part of the URL to pass in the R

[2016-07-06 18:37] MP0w opened #82 "Provide parameter to customize the delay/latency of a mocked response"
When using kakapo for prototype or tests it's important to be able to simulate the latency (also Moya provides this for their stub).
Default should be 0 :QDD:

[2016-07-06 19:19] MP0w commented on #79
@joanromano I already tried to understand but didn't find the cause, happened again (https://travis-ci.org/devlucky/Kakapo/jobs/142811290) so it's not fixed and being always the same test it's not about timeout.
Could be either a bug/race condition in the tests or in the code

[2016-07-07 05:58] #82 closed, assigned to MP0w

[2016-07-09 18:34] MP0w opened #86 "Alamofire and AFNetworking support"
They are not intercepted by NSURLProtocol. Search issues in those project that are describing what to do to support the interception

[2016-07-10 18:35] joanromano commented on #86
Possible starting points:

Alamofire: https://github.com/Alamofire/Alamofire/issues/1247
AFNetworking: https://github.com/AFNetworking/AFNetworking/issues/1904

[2016-07-10 19:00] joanromano commented on #76
@MP0w had a look into this, and not so sure now. This scenario will stop working if we change it to use Sets:

[code]

The Set implementation would basically improve when registering same baseURL and same http method and full URL (check the example in my first comment). In that case, probably the client should know what he is doing and just unregister the first Router first, or keep using it.

[2016-07-12 20:12] MP0w opened #88 "Implement NSURLProtocol.stopLoading() for delayed requests"
... for routers with latency

[2016-07-12 20:15] joanromano commented on #76
I will close this for now.

[2016-07-12 20:15] #76 closed, assigned to joanromano

[2016-07-12 20:15] joanromano commented on #88
Can you expand a bit please?

[2016-07-12 20:33] MP0w commented on #88
`NSURLProtocol.stopLoading()` is empty ATM but we can now cancel requests since the router has latency (and does the request asynchronously). anyway I wouldn't do it now, not urgent

[2016-07-12 20:45] MP0w commented on #79
After adding some more var for diagnostic: https://travis-ci.org/devlucky/Kakapo/jobs/144227014
This timeout is gonna drive me crazy... it must be a bad bug ... just hope is not a sort of race condition with Quick, maybe I can try to move it to see what happens

[2016-07-13 05:48] #86 closed, assigned to nobody

[2016-07-17 17:06] MP0w opened #90 "Allow wildcard in baseURL"
just for the future... Consider it, not sure we want to do it.

[2016-07-17 17:10] #81 closed, assigned to MP0w

[2016-07-17 18:08] MP0w commented on #59
My proposed structure:
Mocking (static)
- How to Create entities
- Serializable
- CustomSerializable
- PropertyPolicy
- ResponseFieldsProvider
- SerializationTransformer
- JSONAPI

Dynamic mocking
- Database
- Router

External libraries (NSURLSessionConfiguration)

[2016-07-26 19:59] MP0w commented on #59
# Kakapo

// Introduction

## Why Kakapo?

## Features

## Setup/Installation

## Usage

// short example

### Serializable

### Router

### Database

### CustomSerializable

### JSONAPI

### PropertyPolicy

### SerializationTransformer

### ResponseFieldsProvider

## Examples

## (?) Roadmap

## Authors

## License

[2016-07-28 13:21] #28 closed, assigned to joanromano, MP0w

[2016-07-31 20:14] #59 closed, assigned to joanromano, MP0w

[2016-08-10 09:54] leviathan commented on #90
Why would that be needed?
I don't see the use-case for wildcards in the base-url.

[code]

Would that be your use-case?
Using a "wildcard" character to fetch a certain set of entities across different registered URLs.

[2016-08-10 12:29] leviathan commented on #88
@MP0w would that do the trick? - #96

[2016-08-10 12:49] MP0w commented on #90
@leviathan hey! Thanks for sharing your opinion!
I actually agree the usefulness would be limited, I just opened the issue while refactoring that part to discuss .
The wildcard would be something different, the baseURL can be a part of the URL that will be in common for every registered route:
E.g
Http://domain.com/api/user/:id/friends
Http://domain.com/api/user/:id/Whatever/:anotherwildcard

In t

[2016-08-10 17:19] joanromano opened #98 "Rename KakapoDB and KakapoServer"
My thoughts on this:
- We should rename them to `Store` and `Server`, Kakapo prefixes don't make sense with Swift modules as we know.
- This shouldn't mean a BCH but I guess we can't avoid it. Still, I think having to release 1.0 just because of this is way too much.

[2016-08-12 08:08] leviathan commented on #98
Yeah, the `Server` name is kind of confusing. Its more like a request interceptor or such

[2016-08-16 17:40] perlguy99 opened #102 "README.playground Errors"
I'm having problems running the playground file.

I am on Xcode 7.3.1 and downloaded your latest source.  I compiled the iOS scheme to get the import working in the playground.  But, once I did that, I got a bunch of other errors...

I'm not sure exactly how to fix this for the playground and was hoping that you could help.

Thanks!

Errors I am getting:

Playground execution failed: README.playgr

[2016-08-16 17:42] MP0w commented on #102
Weird! Looks like it can't find the framework. Did you compile for the iOS simulator? Which arch?

[2016-08-16 20:20] perlguy99 commented on #102
Yes, compiled for the iOS simulator.

Yep, it was the arch.  I changed the "Debug" setting for "Build Active Architecture Only" to "No" and that fixed it.

I really hate that setting!

Thanks for the quick response and nudge!

[2016-08-16 20:20] #102 closed, assigned to nobody

[2016-08-16 20:22] MP0w commented on #102
Ty, I will check which arch is needed and update the comment ! That settings should be fine but not needed ATM since the compile time is good.

[2016-08-20 13:59] MP0w opened #104 "Add Swift lint to CI/Danger"
To enforce style and conventions

[2016-08-20 14:01] MP0w opened #105 "Add contributing guidelines and issue/PR template"
- [ ] Contributing.md
- [ ] Issue/PR template

[2016-08-20 18:51] #88 closed, assigned to nobody

[2016-08-20 19:03] MP0w opened #106 "Create all-in-one scheme"
as described [here](http://promisekit.org/news/2016/08/Multiplatform-Single-Scheme-Xcode-Projects/) (if makes sense for us)

[2016-08-20 19:19] MP0w commented on #106
Might not be possible to do because we use pods in the test targets

[2016-08-20 22:41] #90 closed, assigned to MP0w

[2016-08-20 22:46] MP0w opened #108 "Validate Carthage support with CI"
ATM is not validated and might break if, for example, we change the project layout.
Due to Carthage black magic (too much) might not be easy to validate.

[2016-09-09 15:05] #104 closed, assigned to MP0w

[2016-09-18 21:48] MP0w opened #111 "Swift 3.0 support"
- [x] Update pod, example and playground to swift
- [x] Update README code
- [x] Add `.swift_version` file https://github.com/CocoaPods/CocoaPods/pull/5841
- [x] Create branch swift 2.3 from last commit before merging
- [ ] Release to cocoa pods as 2.0.0

[2016-09-18 21:48] MP0w opened #112 "Swift 2.3 support"
- [ ] Release 1.0.0 to cocoapods
- [x] Update README?

[2016-09-18 21:49] MP0w commented on #112
WIP, CI is hanging
#109
#110

[2016-09-18 21:50] MP0w commented on #111
@joanromano has a branch with an initial progress (still not building). Please push it

[2016-09-19 16:09] MP0w opened #114 "Reintroduce iOS 8 testing in CI"
removed for the moment because it hangs on signing using fastlane, works for every other device

[2016-09-19 16:11] MP0w commented on #112
Solved by removing iOS 8 job -> #114

[2016-09-19 16:12] MP0w commented on #112
@joanromano fine with 1.0.0 for swift 2.3 and 2.0.0 for 3.0?

[2016-09-19 16:56] MP0w opened #115 "Update test dependencies and example dependencies in podfiles"
currently using some branches for Swift 2.3/3.0 compatibility

[2016-09-19 17:32] MP0w opened #116 "Add Changelog.md"
basically replicates https://github.com/devlucky/Kakapo/releases but more accessible

[2016-09-19 17:34] MP0w commented on #98
@joanromano we should do it before releasing the support for Swift 2.3 and 3.0 otherwise we need to raise the version again

[2016-09-19 17:36] joanromano commented on #98
Absolutely @MP0w

[2016-09-21 19:52] #112 closed, assigned to nobody

[2016-09-21 20:13] #116 closed, assigned to MP0w

[2016-09-21 20:14] #98 closed, assigned to nobody

[2016-09-21 20:41] MP0w opened #118 "Extract serialization in it's own pod"
Serialization provided by Kakapo is quite powerful (IMHO 😀) and might be useful even without using Kakapo so we should:
- [ ] Extract serialization into a different pod
- [ ] Find a proper parrot name for the new parrot 🐥

[2016-09-22 16:15] MP0w opened #119 "Use travisCI caching"
as described here: https://docs.travis-ci.com/user/caching/#Caching-directories-(Bundler%2C-dependencies)

[2016-09-23 19:40] MP0w opened #122 "Remove sleep workaround from travis.yml once issue is fixed"
Added sleep in #119 because of random failures described in  https://github.com/travis-ci/travis-ci/issues/4725

[2016-09-23 20:02] MP0w commented on #119
The build seems to be even more fragile now (failing more often), if the `sleep 10` is not enough we might revert it... let's try it for some time.

[2016-09-26 19:06] MP0w commented on #79
still not fixed... trying to increase timeout.
99% sure is not an issue in Router otherwise wouldn't be the only test?
never happened locally...
![https://pbs.twimg.com/media/CfSQdwUW8AErog1.jpg](https://pbs.twimg.com/media/CfSQdwUW8AErog1.jpg)

[2016-09-26 19:09] #111 closed, assigned to joanromano, MP0w

[2016-09-26 20:27] #122 closed, assigned to nobody

[2016-09-26 20:28] MP0w opened #129 "Fix CI random failures"
some info here https://github.com/travis-ci/travis-ci/issues/6422

[2016-09-27 16:10] #119 closed, assigned to nobody

[2016-09-27 16:12] MP0w opened #130 "Update APIs to follow swift 3 naming guidelines"
https://swift.org/blog/swift-3-api-design/
- [x] Update public API (not private for the moment)
- [x] Update example app and playground
- [x] Update README code
- [x] Write changelog with BCHs
- [x] PR
- [ ] Release 2.0.0 📦

[2016-09-27 16:31] MP0w commented on #130
Proposal:
- `register(baseURL: String) -> Router`
- `unregister(baseURL: String) -> Router`
- `filter<T: Storable>(_: T.Type, isIncluded: (T) -> Bool) -> [T]` (to align with stdlib)
- `data(includingRelationships: Bool, includingAttributes: Bool, transformingKeys keyTransformer: KeyTransformer?) -> AnyObject?`
- `includedRelationships(includingChildren: Bool, keyTransformer: KeyTransformer?) -> [A

[2016-09-27 16:37] MP0w commented on #130
PS: only covering public APIs ATM, you can generate documentation suing jazzy locally on master to check the current public APIs

[2016-09-27 16:41] MP0w commented on #130
I would also reintroduce the `key` for `Keytransformer` but I'm not sure if it's possible:

`public typealias KeyTransformer = (_ key: String) -> String`

to

`public typealias KeyTransformer = (key: String) -> String`

[2016-09-27 20:31] joanromano commented on #130
Some thoughts:
- `transformingKeys` in both `serialized` and `customSerialized` don't feel grammatically correct for me
- Not sure about `baseURL` on register/unregister
- KeyTransformer -> Not allowed anymore in function types

[2016-09-27 20:31] joanromano commented on #130
And yes, I still find the new naming conventions quite frustrating https://swift.org/documentation/api-design-guidelines/#naming

[2016-09-27 20:33] MP0w commented on #130
If we are opinionated we can almost leave it like it is cc/ @zzarcon

[2016-09-27 20:35] joanromano commented on #130
May I suggest to just switch `serialized`, `customSerialized` and `filter` ?

[2016-09-27 20:38] MP0w commented on #130
Ok but the JSON API stuff might need some labels (some are missing I think)

[2016-09-27 20:40] joanromano commented on #130
I like the gerunds when it comes to bool arguments, true.

[2016-09-27 20:41] MP0w commented on #130
Actually we could make then non public, except the JSONAPISerializer.init

[2016-09-28 09:08] zzarcon commented on #130
I'm afraid of making the public api not opinionated enough

[2016-09-30 17:25] #130 closed, assigned to joanromano

[2016-10-06 07:18] joanromano opened #132 "Included relationships of relationships in JSONAPI serialization"
Given this model:

[code]

And the serialization:

[code]

What we get back is the following JSON:

[code]

Where the dog object in `included` is missing his `relationships` attributes, so should be like:

[code]

So this should be fixed on `JSONAPISerializable`'s `func includedRelationships(includingChildren: Bool, transformingKeys keyTransformer: KeyTransformer?) -> [Any]?`

[2016-10-09 14:50] amarcadet opened #133 "Swift 2.2 support in 1.x release branch"
Hi!

Do you plan to support Swift 2.2 in 1.x release branch?
There are just couple of lines that prevent 1.0.1 to be compatible with Swift 2.2.

I could make such PR but I'm not sure which branch I should use, could you point me the right one?

Thanks

[2016-10-09 14:57] MP0w commented on #133
Hi, we didn't consider it because would be probably used by few projects. However if it's useful for you and other people we are happy to accept a PR. The branch is currently `swift2.3` but we can eventually rename it `legacy-swift`.
We would have to make sure we add a job to the ci macro to test with Xcode 7.

[2016-10-09 15:04] amarcadet commented on #133
Thanks for the quick reply!

I can't currently migrate my project to Xcode 8 and Swift 2.3 (close deadline) but I need the bugfix shipped in 1.0.1 (I was using 0.2.0).
I might be the only one with such bad luck but if you're ok I can work on this PR.
The idea is not to add feature for Swift 2.x but rather offer better backward compatibility.

I let you rename the branch and will push to it ASAP (p

[2016-10-09 18:01] MP0w commented on #133
Sure, will rename the branch tomorrow. I can take care of the ci!

[2016-10-10 12:36] MP0w commented on #133
@amarcadet I renamed the branch to `feature/legacy-swift`

[2016-10-10 12:42] MP0w commented on #133
# TODO:
- [x] Restore Swift 2.2 support (@amarcadet)
- [x] Update README (instead of Swift 2.3 support, Swift 2.2 and 2.3 support)
- [x] Add Xcode 7 job to build matrix (@MP0w)
- [x] Release 1.0.X to Cocoapods

[2016-10-14 14:26] MP0w opened #135 "Release PATCH support and backport it"
Fix or minor version?

[2016-10-14 14:26] MP0w commented on #135
@joanromano do you have time?

[2016-10-14 14:26] joanromano commented on #135
Minor IMO

[2016-10-14 14:27] joanromano commented on #135
What about #133 ?

[2016-10-14 14:27] MP0w commented on #135
👌
@hernangonzalez FYI

[2016-10-14 14:28] joanromano commented on #135
btw yup I have time I can do it

[2016-10-14 14:28] MP0w commented on #135
#133 still waiting for the PR, you can do it if you still have Xcode 7 and have time or we can just wait

[2016-10-14 16:46] joanromano commented on #135
So @MP0w agree with releasing 2.1.0 (Swift 3) and 1.1.1 (Swift 2.3) ?

[2016-10-14 18:10] MP0w commented on #135
@joanromano you mean 1.1.0?

[2016-10-14 18:10] joanromano commented on #135
Yep sorry @MP0w

[2016-10-14 18:22] joanromano commented on #135
2.1.0 is out! 🎉 https://github.com/devlucky/Kakapo/releases/tag/2.1.0

[2016-10-14 21:19] joanromano commented on #135
Aaaaaand 1.1.0 is out https://github.com/devlucky/Kakapo/releases/tag/1.1.0

[2016-10-14 21:19] #135 closed, assigned to nobody

[2016-10-15 12:58] MP0w commented on #133
Hi @amarcadet, are you still interested to add support for swift 2.2?

[2016-10-15 13:00] amarcadet commented on #133
Yes sorry for the delay, I'm doing immediately!

[2016-10-15 13:00] MP0w commented on #133
Don't worry! Was just wondering if was still needed! 👌

[2016-10-15 13:09] joanromano commented on #133
@amarcadet let us know if we can help 👍

[2016-10-15 13:33] amarcadet commented on #133
Hi again, PR is open, let me know if I need to do anything!
Thanks!

[2016-10-18 07:08] joanromano opened #139 "Test some assertions with Quick"
We finally have this https://github.com/Quick/Nimble/pull/248#event-826944480 so we can test some assertions in Store for instance

[2016-10-18 20:07] joanromano commented on #133
Released, thanks a lot @amarcadet 🎉 🚀  https://github.com/devlucky/Kakapo/releases/tag/1.1.1

[2016-10-18 20:07] #133 closed, assigned to amarcadet, MP0w

[2016-10-24 11:01] zzarcon opened #141 "Des-opinionate Api"
Would be cool if you guys can follow routing standards, good example http://devlucky.github.io/kakapo-js#router

[2016-10-24 11:01] #141 closed, assigned to nobody

[2016-11-03 21:06] joanromano opened #142 "Kakapo + Vapor"
Make this happen bringing together our `Serializable` protocol to their `ResponseRepresentable`

See related issue https://github.com/vapor/vapor/issues/671

[2016-11-04 15:22] MP0w opened #143 "Provide way to perform the original requests"
See https://github.com/devlucky/Kakapo/pull/140#issuecomment-258459938

[2016-11-21 13:33] MP0w commented on #106
not possible if you want to use Cocoapods inside the project ATM

[2016-11-21 13:33] #106 closed, assigned to nobody

[2016-11-28 16:48] #139 closed, assigned to joanromano

[2016-11-30 14:35] MP0w opened #149 "Provide a "Request.continue()" that performs the original request"
As discussed here https://github.com/devlucky/Kakapo/pull/140#issuecomment-256661672 and here https://github.com/devlucky/Kakapo/pull/140#issuecomment-258459938

This would let you fallback on the original response.
I want to discuss to understand if we should add this to Kakapo or not.

example

[code]

API naming could also be `Request.original()` or something like that.

[2017-01-03 14:00] MP0w commented on #118
It's time to do it, there are also some possible feature needed like:
- Key mapping (replace keys, powered by KeyTransformer)
- "flatten" the serialized object

Possible name: cockatoo ?

[2017-01-03 14:03] MP0w commented on #118
It's time to do it, there are also some possible feature needed like:
- Key mapping (replace keys, powered by KeyTransformer)
- "flatten" the serialized object
cc/ @poolqf

Possible name: [Cockatoo](https://en.wikipedia.org/wiki/Cockatoo) ?

[2017-01-03 14:19] joanromano commented on #118
Fine, I guess there might be other possible features that we can't foresee right now.

Regarding the name, after some reading I've seen some nice names on the [true parrots](https://en.wikipedia.org/wiki/True_parrot) species list, but I am fine with Cockatoo as well.

[2017-01-03 17:22] polqf commented on #118
An extension to serialize `RawRepresentable` elements would also be needed.

BTW, Cockatoo is cool

[2017-03-19 11:41] MP0w commented on #118
What about a subspec instead #152 ?

[2017-03-19 11:41] MP0w opened #153 "Refactor Kakapo to not be JSON centric"
See discussion in: #150

[2017-07-18 13:59] MP0w opened #156 "camelCase transformer is broken when there are multiple uppercase chars"
e.g. `profileID` ---> `profile_i_d` instead of `profile_id`.

cc/ @poolqf

[2017-08-31 14:38] MP0w opened #158 "Swift 4 support"
We need to migrate and release a swift 4 version

[2017-09-28 17:44] martiwi opened #159 "Issue when using SwiftLint, carthage failed to build scheme"
When SwiftLint is installed it is not possible to use this library because it fails during build scheme step when doing Carthage update.

When uninstalling SwiftLint, it builds with success.

Do you need anything else to help you investigate/fix this issue ?

Regards,

[2017-10-16 10:29] MP0w commented on #159
Weird I have to check, but used swiftlint during development but maybe a new version breaks

[2018-01-11 14:05] damien-rivet commented on #159
Hi,

I'm having the same issue here. Seems that **SwiftLint** doesn't like the 191 violations (including 21 serious ones, which breaks the build).

## Miscellaneous ##

| Information | Value|
|-|-|
**IDE** | XCode 9.2 (CLI version is the same)
**SwiftLint** | 0.24.1
**Carthage** | 0.27.0

**EDIT:** #160 will also fix this issue as a by-product.

[2018-01-11 15:46] damien-rivet commented on #158
Hi,

I opened the PR #160 for this migration.

It should also fix #159 as a by-product.

[2018-02-11 22:32] zzarcon commented on #159
@MP0w any update?

[2018-03-16 19:41] Hazer commented on #158
This issue may include Swift 4 Codable support?

[2018-04-18 14:52] martiwi commented on #159
@MP0w ? :)

[2018-04-18 17:18] MP0w commented on #159
Hey all, the code did lint with the version of swiftlint I used at the time of development. ATM I’m not sure when I will have time to update it but anyone feel free to fix the new issues reported by new versions and submit a PR!

[2019-05-07 08:40] andreadelfante opened #162 "Swift 5 support"
Hi,
love this lib. Can you provide the support for Swift 5?

[2019-06-27 10:08] b-onc commented on #162
@MP0w Is this library abandoned?

[2019-06-27 14:21] MP0w commented on #162
A big part of it is not needed anymore because of swift’s Codable, we could push a breaking change version that removes Serializable and updates the rest to swift 5

[2019-10-15 10:32] dynaheirbe commented on #162
A breaking change would be fine by me... please do so!